<header class="header">
  <div class="container header__inner">
    <a class="brand" href="#" data-href="index.html" aria-label="Home">
      <img class="brand__logo" src="" data-src="assets/LumoCalc%20logo%20(1).png" alt="LumoCalc logo">
      <span class="brand__name">LumoCalc</span>
    </a>

    <nav class="navcat" aria-label="Calculator Categories">
      <details class="cat cat--basic">
        <summary class="cat__pill">Basic Caculators</summary>
        <div class="cat__tray">
          <a class="cat__link is-basic" href="#" data-href="calculators/basic-calculator.html">Basic</a>
          <a class="cat__link is-basic" href="#" data-href="calculators/scientific-calculator.html">Scientific</a>
          <a class="cat__link is-basic" href="#" data-href="calculators/algebra-calculator.html">Algebra</a>
        </div>
      </details>

      <details class="cat cat--adv">
        <summary class="cat__pill">Advanced Caculators</summary>
        <div class="cat__tray">
          <a class="cat__link is-adv" href="#" data-href="calculators/paycheck-calculator.html">Paycheck</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/rent-affordability.html">Rent</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/debt-snowball.html">Debt</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/debt-to-income.html">DTI</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/401k-retirement.html">401k</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/net-worth.html">Net Worth</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/overtime-pay.html">Overtime</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/loan-payment.html">Loan</a>
          <a class="cat__link is-adv" href="#" data-href="calculators/credit-card-payoff.html">Credit Card</a>
        </div>
      </details>
    </nav>
  </div>
</header>
